# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FPSGame.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\SimpleFPSTemplate\.idea\.idea.FPSGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
